{% if page.path == "p2-coova-chilli.md" %}
<div class="site-links"><div class="wrapper links-col-wrapper">
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/coova-chilli/">Source @ Github</a></li>
</ul></div>
<li><a href="https://www.brightonchilli.org.uk/mailman/listinfo/coovachilli">Support / Discussion</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/coova-chilli/issues">Bug Reports</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="https://github.com/coova/coova-chilli/releases/latest">Download</a></li>
</ul></div>
</div></div>
{% endif %}
{% if page.path == "p3-jradius.md" %}
<div class="site-links"><div class="wrapper links-col-wrapper">
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/jradius/">Source @ Github</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/jradius/issues">Support</a></li>
</ul></div>
</div></div>
{% endif %}

