{% if page.path == "p2-coova-chilli.md" %}
<div class="site-links"><div class="wrapper links-col-wrapper">
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/coova-chilli/">source @ github</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/coova-chilli/issues">support</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="/Download/">download</a></li>
</ul></div>
</div></div>
{% endif %}
{% if page.path == "p3-jradius.md" %}
<div class="site-links"><div class="wrapper links-col-wrapper">
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/jradius/">source @ github</a></li>
</ul></div>
<div class="links-col"><ul class="links-list">
<li><a href="http://github.com/coova/jradius/issues">support</a></li>
</ul></div>
</div></div>
{% endif %}

