---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
<div class="post-return"><a href="/posts.html">All posts</a></div>
{% if page.status == 'old' %}
<div class="status-old">This page is pretty old. Any services or URLs mentioned may be unavailable.</div>
{% endif %}
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
